#main{


  margin-top: 70px;
}

#row1{
  display: flex;
  justify-content: center;
  padding:30px;
  border-bottom: black solid 1px;
}

#container{
  display: flex;
  flex-flow:row wrap;
}

#row2{
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


p{
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  justify-content: center;
}
